<!DOCTYPE html>
<html>
<head>
	<title>UPS Monitor</title>
	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" type="text/css" href="/dashboard/css/keen-dashboard.css" />
</head>
<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand">APC UPS Monitor</div>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/dashboard">UPS01</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Current Load (%)
						</div>
						<div class="chart-stage">
							<canvas id="load" class="graph" height="175" width="270"></canvas>
						</div>
						<div class="chart-notes">
							How much load is the UPS currently under
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Mains Frequency (Hz)
						</div>
						<div class="chart-stage">
							<canvas id="lineFrequency" class="graph" height="175" width="270"></canvas>
						</div>
						<div class="chart-notes">
							The frequency of the mains line in
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Self Test
						</div>
						<div class="chart-stage">
							Currently NOT running a self test<br>
							Last test: 2016-01-09 16:49:48 +0000
						</div>
						<div class="chart-notes">
							A self test is run every 14 days
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Internal Temperature (°C)
						</div>
						<div class="chart-stage">
							<canvas id="internalTemperature" class="graph" height="175" width="270"></canvas>
						</div>
						<div class="chart-notes">
							The internal temperature of the UPS in degrees C
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							UPS Time (Minutes)
						</div>
						<div class="chart-stage">
							<canvas id="batteryTime" class="graph" height="175" width="270"></canvas>
						</div>
						<div class="chart-notes">
							How long the UPS can supply the current load, and shutdown limit
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							UPS Details
						</div>
						<div class="chart-stage">
							Firmware: 651.18.I USB FW:7.3<br>
							Version: 3.14.12 (29 March 2014) redhat<br>
							Up since: 2015-12-12 17:41:08 +0000<br>
							Serial Number: AS0837140969<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Line In/Out Voltage (V)
						</div>
						<div class="chart-stage">
							<canvas id="lineVoltages" class="graph" height="175" width="270"></canvas>
						</div>
						<div class="chart-notes">
							The mains voltage in and out of the UPS
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Battery Charge (%)
						</div>
						<div class="chart-stage">
							<canvas id="batteryCharge" class="graph" height="175" width="270"></canvas>
						</div>
						<div class="chart-notes">
							How charged the battery currently is
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<p class="small text-muted">Theme built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/dashboard/js/date.format.js"></script>
<script src="/node_modules/socket.io-client/socket.io.js"></script>

<script>
	var socket = io('//:3000');

	socket.on('connect', function() {
		console.log('WS: connected');
	});

	socket.on('data', function(data) {
		console.log(data);
		var date = new Date(data.DATE * 1000).format('Hi');
		loadChart.removeData();
		loadChart.addData([parseInt(data.LOADPCT,10)], date);
	});

</script>


<script src="/node_modules/chart.js/Chart.min.js"></script>
<script>

	var loadChart,lineVoltages,batteryCharge,lineFrequency,batteryTime,internalTemperature;

	$(function(){
		Chart.defaults.global.animation = false;
		Chart.defaults.global.responsive = true;
		Chart.defaults.global.maintainAspectRatio = true;

		$.ajax('dashboard/data.php?graphName=load', {
			dataType: 'json',
			complete: function(data) {
				loadChart = new Chart($("#load")[0].getContext("2d")).Line(data.responseJSON, {
					pointHitDetectionRadius: 6,
					scaleOverride: true,
					scaleStepWidth: 10,
					scaleStartValue: 0,
					scaleSteps: 10,
					tooltipTemplate: "<%= value %>%"
				});
			}
		});

		$.ajax('dashboard/data.php?graphName=lineVoltages', {
			dataType: 'json',
			complete: function(data) {
				lineVoltages = new Chart($("#lineVoltages")[0].getContext("2d")).Line(data.responseJSON, {
					pointHitDetectionRadius: 6,
					datasetFill : false,
					multiTooltipTemplate: "<%= value %>V"
				});
			}
		});

		$.ajax('dashboard/data.php?graphName=batteryCharge', {
			dataType: 'json',
			complete: function(data) {
				batteryCharge = new Chart($("#batteryCharge")[0].getContext("2d")).Line(data.responseJSON, {
					pointHitDetectionRadius: 6,
					scaleOverride: true,
					scaleStepWidth: 10,
					scaleStartValue: 0,
					scaleSteps: 10,
					datasetFill : false,
					tooltipTemplate: "<%= value %>%"
				});
			}
		});

		$.ajax('dashboard/data.php?graphName=lineFrequency', {
			dataType: 'json',
			complete: function(data) {
				lineFrequency = new Chart($("#lineFrequency")[0].getContext("2d")).Line(data.responseJSON, {
					pointHitDetectionRadius: 6,
					scaleOverride: true,
					scaleStepWidth: 2,
					scaleStartValue: 40,
					scaleSteps: 10,
					tooltipTemplate: "<%= value %>Hz"
				});
			}
		});

		$.ajax('dashboard/data.php?graphName=batteryTime', {
			dataType: 'json',
			complete: function(data) {
				batteryTime = new Chart($("#batteryTime")[0].getContext("2d")).Line(data.responseJSON, {
					pointHitDetectionRadius: 6,
					scaleOverride: true,
					scaleStepWidth: 5,
					scaleStartValue: 0,
					scaleSteps: 12,
					datasetFill : false,
					multiTooltipTemplate: "<%= value %> mins"
				});
			}
		});

		$.ajax('dashboard/data.php?graphName=internalTemperature', {
			dataType: 'json',
			complete: function(data) {
				internalTemperature = new Chart($("#internalTemperature")[0].getContext("2d")).Line(data.responseJSON, {
					pointHitDetectionRadius: 6,
					tooltipTemplate: "<%= value %>°C"
				});
			}
		});
	});
</script>

</body>
</html>